<!-- ng-repeat directive with simple array-->
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <body>
    <div ng-app="" ng-init="names=['Prime', 'Optimus', 'Neo'];namesMovies=[{name:'Prime', movie: 'Transformers'}, {name:'Optimus', movie:'Transformers'}, {name:'neo', movie: 'Matrix'}]">
      <ul>
        <li ng-repeat='x in names'>
          {{x}}
        </li>
      </ul>
      <ol>
        <li ng-repeat="x in namesMovies">
          {{x.name+ ', '+x.movie}}
        </li>
      </ol>
    </div>
  </body>
</head>

</html>
